:root{
    --primaryColor:#df1a0c;
}
body{
    background-image: url('../../assets/backgroundDraft.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banSide{
    width: 600px;
    height: 100%;
    }
    .title{
        margin-bottom: 90px;
    }
    
    .mainCard{
        width: 1000px;
        height: 60%;
        display: flex;
        flex-flow: row;
    }
    #white{
      
    }
    .selectChampion{
        width: 50%;
        height: 100%;
    }
    .queueOptions{
        width: 50%;
        height: 100%;
        
    }
    #submitParametros{
        margin-top: 40px;
        outline: none !important;
        width: 240px;
    }
   #responseConfirmed{
       margin-top: 15px;
       color: rgb(71, 71, 71);
   }
    #introSelectChampion{
        font-size: 22px !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 100px !important;
        color: var(--primaryColor);
    }
    #searchBox{
        width: 400px;
        height: 60px;
        background-color: white;
        border-radius: 40px;
        -webkit-box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2); 
    box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2);
        display: flex;
    }
    #searchBox input{
        margin-left: 25px;
        width: 75%;
        border: none !important;
        overflow: auto !important;
        outline: none !important;
    }
    .result{
        width: 390px;
        height: 120px;
        background-color: #FBFBFB;
        border-radius: 40px;
        margin-top: 20px;
        display: flex;
        display: row;
    }
    /*   <div id="championSquare"><img class="squareImage" */
    
    .championSquare
    {
        width: 115px;
        height: 120px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .championSquare img{
        width: 100%;
        height: 100%;
     
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .championDescription h5{
        margin: 0 !important;
        padding: 0 !important;
    }
    .championDescription{
        width: 275px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .championDescription p{
        font-size: 11px;
        text-align: justify;
        overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 4; /* number of lines to show */
       -webkit-box-orient: vertical;
    }
    
    input[type="checkbox"]:checked + label:before {
        background: #fff !important;
        color: #333;
        content: "\2713";
        text-align: center;
      }
    #aceitarFila{
        margin-left: 5px;
        color: var(--primaryColor);
    }
    #containerCheckerFila{
        margin-top: 10px;
        margin-left: 70px;
    }
    
    .autocomplete {
        /*the container must be positioned relative:*/
      }
      .btn-primary{
          background-color: var(--primaryColor) !important;
          border-color: var(--primaryColor) !important;
      }
      #autoacceptToggle{
        background-color: var(--primaryColor) !important;
        border-color: var(--primaryColor) !important;
      }
      h3{
          color: var(--primaryColor) !important;
      }
      
      ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
.cardLogs{
    overflow: auto;
    margin-top: 20px;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2); 
    box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2);
    width: 400px !important;
    height: 250px;
    border-radius: 30px;
    padding: 30px;
}
.cardLogs p{
    cursor: default;
    padding: 0;
    display: flex;
    flex-flow: row;
    font-weight: bold;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
      
.cardLogs .added{
}
.cardLogs .removed
{
    font-weight: 800 !important;
}

.remove{
    float: right;
}
.cardLogs button{
    cursor: default;
    width: 25px;
    border: none;
    background-color: white;
    -webkit-box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2); 
    box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2);
    height: 25px;
    border-radius: 100%;
}
.cardLogs button img{
    width: 50%;
    height: auto;
    filter: invert(0.7);
}
.cardLogs button:hover{
    transition: 0.2s;
    background-color: #f3918a;
}
.cardLogs button:hover img{
    filter: invert(0);
}
#addButton{
    cursor: default;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    align-self: center;
    border-radius: 100%;
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
}
#addButton:hover {
    transition: 0.3s;
    background-color: rgb(231, 231, 231);
    
}
#addButton img{
    filter: invert(0.7);
}