@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
:root{
    --background-color:#ebf4fb;
    --card-color:#f8f8f8;
    --dashboard:#ebf4fb;
    --header: #f8f8f8;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-flow: row;
    background-color: var(--card-color);
   
}
/* Menu lateral, início */
p{
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
}

.side-menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: var(--card-color);
}
.profile-picture{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/11.8.1/img/profileicon/3150.png');
    background-size: cover;
    border: 8px solid var(--card-color);
    box-sizing: border-box;
  }
  .profile-level{
    position: relative;
    text-align: center;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: linear-gradient(270deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, lightgray 50%)
  }



/* Menu lateral, fim. */
.dashboard{
    width: 95%;
    height: 100%;
    background-color: var(--card-color);
    padding: 0;
    margin: 0;
}
.panel{
    background-color: var(--dashboard);
    width: 100%;
    height: 90%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.header{
    background-color: var(--header);
    width: 100%;
    height: 10%;
}