.banSide{
width: 600px;
height: 100%;
}
.title{
    margin-bottom: 90px;
}
body{
    background-image: url('../../assets/ashe.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainCard{
    width: 1000px;
    height: 60%;
    display: flex;
    flex-flow: row;
}
#white{
  
}
.selectChampion{
    width: 50%;
    height: 100%;
}
.queueOptions{
    width: 50%;
    height: 100%;
    
}
#submitParametros{
    margin-top: 40px;
    width: 240px;
}
#introSelectChampion{
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 100px !important;
    color: #4DBEAD;
}
#searchBox{
    width: 400px;
    height: 60px;
    background-color: white;
    border-radius: 40px;
    -webkit-box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2); 
box-shadow: 2px 5px 15px -8px rgba(0,0,0,0.2);
    display: flex;
}
#searchBox input{
    margin-left: 25px;
    width: 75%;
    border: none !important;
    overflow: auto !important;
    outline: none !important;
}
.result{
    width: 390px;
    height: 120px;
    background-color: #FBFBFB;
    border-radius: 40px;
    margin-top: 20px;
    display: flex;
    display: row;
}
/*   <div id="championSquare"><img class="squareImage" */

#championSquare
{
    width: 115px;
    height: 120px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
#championSquare img{
    width: 100%;
    height: 100%;
 
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.championDescription h5{
    margin: 0 !important;
    padding: 0 !important;
}
.championDescription{
    width: 275px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.championDescription p{
    font-size: 11px;
    text-align: justify;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

input[type="checkbox"]:checked + label:before {
    background: #fff !important;
    color: #333;
    content: "\2713";
    text-align: center;
  }
#aceitarFila{
    margin-left: 5px;
    color: #4DBEAD;
}
#containerCheckerFila{
    margin-top: 10px;
    margin-left: 70px;
}

.autocomplete {
    /*the container must be positioned relative:*/
  }
  .btn-primary{
      background-color: #4DBEAD !important;
      border-color: #4DBEAD !important;
  }
  #autoacceptToggle{
    background-color: #4DBEAD !important;
    border-color: #4DBEAD !important;
  }
  h3{
      color: teal !important;
  }
  